.video {
  display: flex;
  gap: 24px;
  max-height: inherit;

  .content {
    flex: 5;
    
    .video-wrapper {}

    .title {
      font-size: 18px;
      font-weight: 400;
      margin-top: 20px;
      margin-bottom: 10px;
      color: white;
    }

    .details {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .info {
        color: #aaaaaa;
      }

      .buttons {
        display: flex;
        gap: 20px;
        color: white;

        button {
          display: flex;
          align-items: center;
          gap: 5px;
          cursor: pointer;
        }
      }

    }

    hr {
      margin: 15px 0;
      border: 0.5px solid #aaaaaa;
    }
  }
}


.channel {
  display: flex;
  justify-content: space-between;


  .channel-info {
    display: flex;
    gap: 20px;

    .image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    .channel-details {
      display: flex;
      flex-direction: column;
      color: white;

      .channel-name {
        font-weight: 500;
        color: white;
      }
    
      .channel-counter {
        margin-top: 5px;
        margin-bottom: 20px;
        color: #aaaaaa;
        font-size: 12px;
      }
      .desc {
        font-size: 14px;
      }
    }
  }





  .subscribe {
    background-color: #cc1a00;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 3px;
    height: max-content;
    padding: 10px 20px;
    cursor: pointer;
  }
}

.recommendations {
  flex: 2;
  height: 100vh;
  overflow-y: scroll;
  position: sticky;
  top: 76px;
}
.recommendations::-webkit-scrollbar {
  display: none;
}